.input-container{
    position: relative;
    display: flex;
    right: 15px;
    height: 2.3rem;
    width: 20rem;
    align-items: center;
}
.input-container Button{
    border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   position: absolute;
   padding: 5.27px;
   width: 5rem;
   left: .3px;
    border-right: none;  
    background-color: rgba(221, 213, 213, 0.938);
}
.input-container Button:hover{
    background-color: rgba(190, 186, 186, 0.849);
}
.input-icon{
    position: absolute;
    right: 0;
    padding: 8px 7px;
    color: rgb(236, 101, 38);
}
input{
    padding: 11px;
    padding-right: 35px;
    width: 100%;
    border-radius: 7px;
    text-transform: none;
}





@media(max-width:1200px){
    .input-container{
        position: absolute;
        top: 70px;left: 0;right: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .active{
        display: block;
    }
    .input-container Button{
        border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;
       position: absolute;
       padding: 5.27px;
       width: 5rem;
       top: 0;
       left: .3px;
        border-right: none;  
        background-color: rgba(221, 213, 213, 0.938);
    }
   
}
























