.mobile_part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.2rem;
    padding-bottom: 7.2rem;
}
.mobilePart_container{
    padding-top: 20px 5px;
}
.mobilePart_right{
    direction: rtl;
    padding: 50px 30px;
    align-items: center;
    
}
.mobilePart_right .header{
   line-height: 1.5rem;
   font-size: 1.3rem;
   font-weight: 600;
   text-align: center;
   color: rgba(255, 235, 205, 0.774);
   padding: 10px 0;
}
.mobilePart_right .body{
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: rgba(255, 235, 205, 0.774);
    padding: 40px 30px;
}
.mobilePart_right .footter{
    font-weight: 600;
    font-size: 1.1rem;
    color: rgba(255, 235, 205, 0.774);
    padding: 10px 30px;
}
.mobilePart_left{
    padding-left: 70px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  
}
.mobilePart_left img{
    width: 21rem;
}
.mobile_button{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.mobile_button Button{
    background-color: rgba(27, 22, 22, 0.904);
    display: flex;
    justify-content: space-evenly;
    width: 9rem;
    font-weight: 600;
}
.mobile_button Button:hover{
    background-color: rgba(118, 221, 118, 0.521);
}
.mobile_button svg{
    padding: 0 .4rem;
    border: 2px solid rgb(20, 102, 24);
    border-radius: 10%;
    color: rgb(20, 102, 24) 
}
.mobile_button button span{
    color: #a3a3a3;
}
@media screen and (max-width:900px){
    .mobile_part{
        grid-template-columns: 1fr ;
        place-content: center;
    }
    .right{
        font-size: 1.4rem;
    }
    .mobilePart_container img{
        padding-right: 3rem;
    }
}